@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.5;
}

button {
  font: inherit;
}

.container {
  padding: 55px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

/* NAVIGATION */

nav {
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  list-style: none;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  background-color: #6415ff;
  color: white;
  padding: 12px 32px;
  border-radius: 9999px;
  margin-left: 0;
}

.nav__link--primary:hover {
  background-color: #5011cc;
  color: white;
  text-decoration: none;
}